<h2 class="text-center", style="margin-top:50px;">投稿詳細</h2>

<div class="mx-auto", style="width:80%;">
  <table class="table">
    <thead>
      <tr>
        <th>料理</th>
        <th>店名</th>
        <th>場所</th>
        <th>コメント</th>
        <th>投稿者</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th>
          <%= attachment_image_tag @post, :cooking_image, :fill, 60, 60 %><br>
          <%= @post.cooking_name %>
        </th>
        <th><%= @post.shop_name %></th>
        <th><%= @post.address %></th>
        <th><%= @post.comment %></th>
        <th>
          <%= link_to @post.user.name, user_path(@post.user.id) %><br>
          <%= attachment_image_tag @user, :user_image, :fill, 60, 60, fallback: "no_image.jpg"%><br>

          <% if @post.user == current_user %>
            <%= link_to "編集", edit_post_path(@post.id), class: 'btn btn-success' %>
            <%= link_to "削除", post_path(@post.id), method: :delete, class: 'btn btn-danger' %>
          <% end %>
        </th>

        <th id="favorite_buttons_<%= @post.id %>">
          <%= render "favorites/favorites", post: @post %>
        </th>

        <th id="comment_number_<%= @post.id %>">
          <%= render "comments/number", post: @post %>
        </th>
      </tr>
  　</tbody>
  </table>
</div>

<div style="margin-left:10%; margin-right:10%;", id="comment_buttons_<%= @post.id %>">
　<%= render "comments/comments", post: @post %>
</div>