<h1>FOODS QUEST！！</h1>

<p>さっそく検索</p><br>

<%= form_tag(search_path, method: :get) do %>
　<p>料理名</p>
  <%= text_field_tag 'content1' %>
  <%= select_tag 'method1', options_for_select({"完全一致" => "perfect", "部分一致" => "partial"}) %>

  <p>場所</p>
  <%= text_field_tag 'content2' %>
  <%= select_tag 'method2', options_for_select({"完全一致" => "perfect", "部分一致" => "partial"}) %>

  <%= submit_tag '検索' %>
<% end %>