<h2 class="text-center", style="margin-top:50px;">マイコミュニティ一覧</h2>

<div class="mx-auto", style="width:80%;">
  <table class="table">
    <thead>
      <tr class="text-center">
        <th>コミュニティ名</th>
        <th>コンセプト</th>
        <th>メンバー数</th>
      </tr>
    </thead>

    <% @group_users.each do |gu| %>
      <tbody>
        <tr class="text-center">
          <th>
            <%= attachment_image_tag gu.group, :group_image, :fill, 100, 100 %><br>
            <p><%= link_to gu.group.name, group_path(gu.group.id) %></p>
          </th>
          <th><%= gu.group.introduction %></th>
          <th><%= gu.group.group_users.count %></th>
          <th>
            <% if gu.group.owner_id == current_user.id %>
              <%= link_to "編集", edit_group_path(gu.group.id), class: 'btn btn-success' %>
              <%= link_to "削除", group_path(gu.group.id), method: :delete, class: 'btn btn-danger' %>
            <% elsif gu.group.group_users.exists?(user_id: current_user.id) %>
              <%= link_to "Retire this Group", group_group_users_path(gu.group.id), method: :delete, class: 'btn btn-danger' %>
            <% else %>
              <%= link_to "Join this Group", group_group_users_path(gu.group.id), method: :post, class: 'btn btn-success' %>
            <% end %>
          </th>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>