<% if (@content1.present? && @content2.blank?) %>
  <h3>【検索結果】検索ワード（料理名）：<%= @content1 %>　該当数：<%= @posts.count %>件</h3>

  <table class="table">
    <thead>
      <tr>
        <th>料理</th>
        <th>店名</th>
        <th>場所</th>
        <th>コメント</th>
        <th>投稿者</th>
      </tr>
    </thead>

    <% @posts.each do |post| %>
      <tbody>
        <tr>
          <th>
            <%= attachment_image_tag post, :cooking_image, :fill, 60, 60 %><br>
            <%= post.cooking_name %>
          </th>
          <th><%= post.shop_name %></th>
          <th><%= post.address %></th>
          <th><%= post.comment %></th>
          <th>
            <%= post.user.name %><br>
            <%= attachment_image_tag @user, :user_image, :fill, 60, 60, fallback: "no_image.jpg"%><br>

            <% if post.user == current_user %>
              <%= link_to "編集", edit_post_path(post.id), class: 'btn btn-success' %>
              <%= link_to "削除", post_path(post.id), method: :delete, class: 'btn btn-danger' %>
            <% end %>
          </th>

          <th>
            <% if post.favorited_by?(current_user) %>
              <%= link_to post_favorites_path(post), method: :delete do %>
                ♥<%= post.favorites.count %> いいね<br>
              <% end %>
            <% else %>
              <%= link_to post_favorites_path(post), method: :post do %>
                ♡<%= post.favorites.count %> いいね<br>
              <% end %>
            <% end %>

            <p>コメント件数：<%= post.comments.count %></p>
            <% post.comments.each do |comment| %>
              <div>
                <%= comment.user.name %>
                <%= comment.created_at.strftime('%Y/%m/%d') %><br>
                <%= comment.comment %>
                <% if comment.user == current_user %>
                  <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, class: 'btn btn-danger' %>
                <% end %>
              </div>
            <% end %>
          </th>

          <th>
            <%= form_with(url: post_comments_path(post.id), local: true) do |f| %>
              <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
              <%= f.submit "送信する", class: 'btn btn-success' %>
            <% end %>
          </th>
        </tr>
      </tbody>
    <% end %>
  </table>

<% elsif (@content1.blank? && @content2.present?) %>
  <h3>【検索結果】検索ワード（場所）：<%= @content2 %>　該当数：<%= @posts.count %>件</h3>

  <table class="table">
    <thead>
      <tr>
        <th>料理</th>
        <th>店名</th>
        <th>場所</th>
        <th>コメント</th>
        <th>投稿者</th>
      </tr>
    </thead>

    <% @posts.each do |post| %>
      <tbody>
        <tr>
          <th>
            <%= attachment_image_tag post, :cooking_image, :fill, 60, 60 %><br>
            <%= post.cooking_name %>
          </th>
          <th><%= post.shop_name %></th>
          <th><%= post.address %></th>
          <th><%= post.comment %></th>
          <th>
            <%= post.user.name %><br>
            <%= attachment_image_tag @user, :user_image, :fill, 60, 60, fallback: "no_image.jpg"%><br>

            <% if post.user == current_user %>
              <%= link_to "編集", edit_post_path(post.id), class: 'btn btn-success' %>
              <%= link_to "削除", post_path(post.id), method: :delete, class: 'btn btn-danger' %>
            <% end %>
          </th>

          <th>
            <% if post.favorited_by?(current_user) %>
              <%= link_to post_favorites_path(post), method: :delete do %>
                ♥<%= post.favorites.count %> いいね<br>
              <% end %>
            <% else %>
              <%= link_to post_favorites_path(post), method: :post do %>
                ♡<%= post.favorites.count %> いいね<br>
              <% end %>
            <% end %>

            <p>コメント件数：<%= post.comments.count %></p>
            <% post.comments.each do |comment| %>
              <div>
                <%= comment.user.name %>
                <%= comment.created_at.strftime('%Y/%m/%d') %><br>
                <%= comment.comment %>
                <% if comment.user == current_user %>
                  <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, class: 'btn btn-danger' %>
                <% end %>
              </div>
            <% end %>
          </th>

          <th>
            <%= form_with(url: post_comments_path(post.id), local: true) do |f| %>
              <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
              <%= f.submit "送信する", class: 'btn btn-success' %>
            <% end %>
          </th>
        </tr>
      </tbody>
    <% end %>
  </table>

<% elsif (@content1.present? && @content2.present?) %>
  <h3>【検索結果】検索ワード（料理名）：<%= @content1 %>　（場所）：<%= @content2 %>　該当数：<%= @posts.count %>件</h3>

  <table class="table">
    <thead>
      <tr>
        <th>料理</th>
        <th>店名</th>
        <th>場所</th>
        <th>コメント</th>
        <th>投稿者</th>
      </tr>
    </thead>

    <% @posts.each do |post| %>
      <tbody>
        <tr>
          <th>
            <%= attachment_image_tag post, :cooking_image, :fill, 60, 60 %><br>
            <%= post.cooking_name %>
          </th>
          <th><%= post.shop_name %></th>
          <th><%= post.address %></th>
          <th><%= post.comment %></th>
          <th>
            <%= post.user.name %><br>
            <%= attachment_image_tag @user, :user_image, :fill, 60, 60, fallback: "no_image.jpg"%><br>

            <% if post.user == current_user %>
              <%= link_to "編集", edit_post_path(post.id), class: 'btn btn-success' %>
              <%= link_to "削除", post_path(post.id), method: :delete, class: 'btn btn-danger' %>
            <% end %>
          </th>

          <th>
            <% if post.favorited_by?(current_user) %>
              <%= link_to post_favorites_path(post), method: :delete do %>
                ♥<%= post.favorites.count %> いいね<br>
              <% end %>
            <% else %>
              <%= link_to post_favorites_path(post), method: :post do %>
                ♡<%= post.favorites.count %> いいね<br>
              <% end %>
            <% end %>

            <p>コメント件数：<%= post.comments.count %></p>
            <% post.comments.each do |comment| %>
              <div>
                <%= comment.user.name %>
                <%= comment.created_at.strftime('%Y/%m/%d') %><br>
                <%= comment.comment %>
                <% if comment.user == current_user %>
                  <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, class: 'btn btn-danger' %>
                <% end %>
              </div>
            <% end %>
          </th>

          <th>
            <%= form_with(url: post_comments_path(post.id), local: true) do |f| %>
              <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
              <%= f.submit "送信する", class: 'btn btn-success' %>
            <% end %>
          </th>
        </tr>
      </tbody>
    <% end %>
  </table>

<% else %>
  <h3>言葉を入れてちょ！</h3>
<% end %>
